body {
    background: url('https://i.ibb.co/8gnJx8Zq/Server-room-takedown-COD-Ghosts.webp') center fixed;
    background-size: 100%;
}
.container.main {
    background: rgba(0,0,0,0.5);
    border: 1px solid white;
    box-shadow: none;
    color: white;
}
.col-md-9 {
    background: rgba(0,0,0,0.5);
    border: none;
    box-shadow: none;
    color: white;
}
.topbar {
    background: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-top: none;
    color: white;
}
.navbar {
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid white;
}
.navbar li a:hover {
    background: rgba(255,255,255,0.5) !important;
}
.navbar li a {
    color: white !important;
}
.breadcrumb {
    background: rgba(255,255,255,0.5);
    border: 1px solid white;
    border-radius: 0;
}
.breadcrumb .active {
    color: white;
}
h1,
h2,
h3 {
    color: lightskyblue !important;
}
.panel {
    background: rgba(0,0,0,0.5) !important;
    border-radius: 0;
    box-shadow: none !important;
}
.progress {
    background: rgba(255,255,255,0.5);
    border-radius: 0;
}
.progress-bar {
    background: lightskyblue;
}
.progress div {
    color: black !important;
}
.table .top,
.table th {
    background: rgba(255,255,255,0.5);
    border: 1px solid white !important;
    color: white !important;
}
.table .bottom,
.table th {
    background: rgba(255,255,255,0.5);
    border: 1px solid white !important;
    color: white !important;
}
.inner-table .left {
    background: lightskyblue;
    border-radius: 0;
    border: 1px solid white;
    color: black;

}
.inner-table .right {
    background: rgba(255,255,255,0.5);
    border-radius: 0;
    border: 1px solid white;
}
a:link,
a:visited {
    color: lightskyblue !important;
}
a:hover {
    color: cornflowerblue !important;
}
#about {
    border: 1px solid white;
}
.dynastylist .left {
    background: rgba(0,0,0,0.5);
    border-radius: 0;
    border: 1px solid cornflowerblue;
}
.cave-grid {
    background: rgba(0,0,0,0.5);
    border-radius: 0;
    border: 1px solid cornflowerblue;
}
.mound-grid {
    background: rgba(0,0,0,0.5);
    border-radius: 0;
    border: 1px solid cornflowerblue;
}
#pride .left {
    background: rgba(255,255,255,0.3);
}
.right_odd {
    background: rgba(255,255,255,0.1) !important;
}
.alert-success {
    background: black;
    border-radius: 0;
    border: 1px solid lightgreen;
    color: lightgreen;
}
.alert-danger {
    background: black;
    border-radius: 0;
    border: 1px solid crimson;
    color: crimson;
}
#clans .left {
    background: black;
}
#player {
    border: 1px solid white;
}
#fraProfileContent td {
    border: 1px solid white;
}
#allies .left {
    background: black;
}
#pride {
    border: 1px solid white;
}
#pride .right {
    background: rgba(255,255,255,0.2);
}
.col-sm-4 .left {
    background: black;
    border: 1px solid white;
    border-radius: 0;
}
form div.left {
    background: black;
    border: 1px solid white;
    border-radius: 0;
}
#editdetailspanel .b {
    background: black;
    border: 1px solid white;
    border-radius: 0;
}
.right textarea {
    color: black;
}
.right input {
    color: black;
}
input.floatright {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 0 !important;
}
input.floatright:hover {
    background: lightskyblue !important;
    border: 1px solid white !important;
    border-radius: 0;
    text-shadow: none;
    color: cornflowerblue !important;
}
input[type="button"] {
    background: black;
    border: 1px solid white !important;
    border-radius: 0;
    text-shadow: none;
    color: white !important;
}
input[type="button"]:hover {
    background: black;
    border: 1px solid white !important;
    border-radius: 0;
    text-shadow: none;
    color: white !important;
}
input[type="submit"]:hover {
    background: lightskyblue;
    border: 1px solid white !important;
    border-radius: 0;
    text-shadow: none;
    color: cornflowerblue !important;
}
input[type="submit"] {
    background: black;
    border: 1px solid white !important;
    border-radius: 0;
    text-shadow: none;
    color: lightskyblue !important;
}
.button {
    background: black !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    color: cornflowerblue !important;
}
.feature {
    background: black !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
}
.abandoned-count {
    color: black;
}
.left {
    background: rgba(0,0,0,0.5) !important;
}
.right input {
    color: black !important;
}
.floatleft.small {
    background: black !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
}
.item-header {
    background: lightskyblue !important;
    border-radius: 0 !important;
}
.item-footer {
    background: black !important;
    border-radius: 0 !important;
    color: white !important;
}
.page-description {
    border: 1px solid white !important;
    border-radius: 0 !important;
}
.sub_menu {
    background: black !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
}
.sub_menu_item_selected {
    background: rgba(255,255,255,0.5);
}
.item {
    background: black;
    border: 1px solid white;
    border-radius: 0;
}
.col-xs-12 .alert-warning {
    background: black;
    border: 1px solid gold;
    border-radius: 0;
    color: gold;
}
.item-surround {
    background: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 0;
}
.table {
    border: 1px solid white;
}
.center.b {
    background: black;
    border: 1px solid white;
    border-top: none;
}
.lion-image-block img {
    border: 1px solid white;
}